.searchpage {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px 20px;
}

.searchpage__filter {
    display:flex;
    align-items: center;
    color: #606060;
    font-size: small !important;
}

.searchpage__filter > h3{
    margin-left:10px;
    color: #606060;
}

.searchpage__filter > hr {
    height:1px;
    border:0;
    background-color:lightgray;
    margin-top:10px;
    margin-bottom:10px;
    border: 5px solid hotpink;
}

