.header{   
    margin:0; 
    padding: 20px;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index:100;
    background-color:white;
}

.header__left{
padding-left: 1rem;
}

.header__logo{
    height:25px;
    /* width:100px; */
    object-fit:contain;
    margin-left:20px;
    
}

.container_df_ai_jc {
    display:flex;
    align-items: center;
    justify-content:center;
}

.container_df_ai {
    display:flex;
    align-items: center;
}

.header__input  {
    width:40%;
   border: 1px solid lightgray;
}

.header__input > input {
    border: none;
    max-width:100%;
    flex:1;
 }

 .header__inputButton {
width:50px !important;
background-color:#fafafa;
border: 1px solid lightgray;
color:gray;
}

.header__icon {
margin-left:10px;
}
.header__icons{
    display:flex;

    }