.header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    position:sticky;
    top:0;
    z-index:100;
    background-color:white;
}

.header__logo{
    height:25px;
    width:200px;
    object-fit:contain;
    margin-left:20px;
    border: 5px solid pink;
}

.container_df_ai_jc {
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.container_df_ai {
    display:flex;
    align-items: center;
}

.header__input  {
    width:40%;
   border: 1px solid lightgray;
}

.header__input > input {
    border: none;
    width:80%;
 }

 .header__inputButton {
width:3.5rem;
background-color:#fafafa;
border: 1px solid lightgray;
color:gray;
}

.header__icon {
margin-left:10px;
}
.header__icons{
    display:flex;
    }