.videoCard{
    width:270px;
    margin-bottom:40px;
}

.videoCard__thumbnail {
width: 250px;
height:140px;
}

.videoCard__info{
display:flex;
margin-top:8px;

}

.videoCard__text{
    margin-left:15px;
    
}

.videoCard__text > h4 {
    margin-bottom:5px;
    font-size:16px;
    margin-top:0;
}

.videoCard__text > p {
    font-size: 14px;
    color: grey;
    margin-block:0;
}

.video__avatar{
    height: 30px !important;
    width: 30px !important;
}